## Model Inference

In [1]:
# Import Library

import pickle
import joblib
import json
import pandas as pd
import numpy as np

## Load Model

In [2]:

with open('model.pkl', 'rb') as file_1:
  model = pickle.load(file_1)

with open('full_pipe.pkl','rb') as file_2:
  final_pipe = pickle.load(file_2)

with open('list_num_cols.txt', 'r') as file_3:
  num_col2 = json.load(file_3)

with open('list_cat_cols.txt','r') as file_4: 
  cat_col2 = json.load(file_4)

# with open('boosted.pkl', 'rb') as file_2:
#   boost_model = pickle.load(file_2)

# with open('model_scaler.pkl', 'rb') as file_3:
#   scaler = pickle.load(file_3)

# # with open('model_encoder.pkl', 'rb') as file_3:
# #   encoder = pickle.load(file_3)

# final_pipe = joblib.load('pipeline_predictor.joblib')
# num_pipeline = joblib.load('num_pipeline_model.joblib')
# cat_pipeline = joblib.load('cat_pipeline_model.joblib')
# full_pipeline = joblib.load('pipeline_model.joblib')

## Inferencing

In [9]:
df = pd.read_csv('data_inferences.csv')
inf = df.reset_index().drop(['index','Unnamed: 0'],axis=1)
inf

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,50.0,male,159,89.0,120,80,1,2,0,0,1,0
1,54.0,male,165,71.0,120,70,1,1,0,0,1,1
2,64.0,male,164,67.0,120,80,1,1,0,0,0,0
3,63.0,female,180,100.0,140,100,1,1,0,0,1,0
4,54.0,male,160,69.0,130,90,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
95,53.0,female,168,76.0,120,80,1,1,1,0,1,0
96,62.0,male,158,126.0,140,90,2,2,0,0,1,1
97,52.0,female,183,105.0,180,90,3,1,0,1,0,1
98,61.0,male,163,72.0,135,80,1,2,0,0,0,1
99,56.0,male,170,72.0,120,80,2,1,0,0,1,0

In [10]:
X_inf = inf.drop('cardio',axis=1)
y_inf = inf['cardio']

In [11]:
final_pipe.fit(X_inf,y_inf)
predicts = final_pipe.predict(X_inf)
predicts

array([0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0])

Data inf has been predicted

In [12]:
actuals = pd.DataFrame(df['cardio'])
predicted = pd.DataFrame(predicts)

In [13]:
actuals.rename(columns={'cardio':'actual'},inplace=True)
predicted.rename(columns={0:'predict'},inplace=True)

In [14]:
pd.concat([actuals,predicted],axis=1).head(10)

   actual  predict
0       0        0
1       1        0
2       0        0
3       0        1
4       1        1
5       0        1
6       0        0
7       1        1
8       0        0
9       0        0

The comparison between actual and predicted target. Model can gives a true prediction for 70%. But we should improve it more.